* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container {
    max-width: 1475px;
    width: 100%;
    margin: 0 auto;
}
header {
    width: 100%;
    height: 387.56px;
    background-color: #0020F4;
}
.header-wrapper {
    max-width: 1475px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 27px;
    margin: 0 auto;
    align-items: center;
}
.header-wrapper img {
    margin: 13px 0 13px 0;
    height: 60px;
}
.navigation {
    display: flex;
    align-items: center;
}
.header-wrapper ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.header-wrapper a {
    color: aliceblue;
    padding-right: 39px;
    font-size: 16px;
}
.header-button-box {
    padding: 18px 0 18px 0;
}

.header-button-box button {
    width: 160px;
    height: 55px;
    border-radius: 28px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: none;
    font-size: 16px;
    color: #171717;
}

.main-section {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: -200px;
}
.main-photo {
    max-width: 1000px;
    width: 100%;
}
.main-section h4 {
    margin-top: 30px;
    color: #171717;
    font-size: 22px;
}
.pic-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 60px 0 60px 0;
}
.pic-flex img {
    width: 180px;
}

.main-text {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
    margin-bottom: 58px;
}
.main-text p {
    margin-bottom: 18px;
    line-height: 26px;
}

.main-button-box {
    max-width: 400px;
    margin: 0 auto;
}
.main-button-box button {
    padding: 18px 65px 18px 65px;
    border-radius: 28px;
    background-color: #0A22F4;
    color: #FFFFFF;
    font-size: 15px;
    border: none;

}

/* footer */


footer {
    display: 100%;
    background-color: #0A22F4;
}

.info-box {
    /* max-width: 1475px;
    width: 100%; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    margin: 0 auto;
}
.contact-text {
    max-width: 463px;
    width: 100%;
    margin-top: 270px;
    color: #FFFFFF;
}
.contact-text h3 {
    font-size: 30px;
    margin-bottom: 30px;

}
.contact-text p {
    margin-bottom: 58px;
    font-size: 16px;
    height: 99px;
    line-height: 26px;
}
.map-box iframe {
    max-width: 460px;
    width: 100%;
    height: 197px;
    margin-bottom: 70px;
    border-radius: 15px;
    box-shadow: 12px 12px 2px 1px #FFFFFF;

}
.contact-details {
    display: flex;
    color: #FFFFFF;
    font-size: 22px;

}
.mobile-box {
    display: flex;
    align-items: center;
}
.mobile-background-img {
    position: relative;
}
.mobile-logo img {
    position: absolute;
    bottom: 26px;
    left: 21px;
}
.mobile-number {
    padding-left: 20px;
    padding-right: 97px;
}
.email-box {
    display: flex;
    align-items: center;
}
.email-background-img {
    position: relative;
}
.email-logo img {
    position: absolute;
    bottom: 26px;
    left: 21px;
}
.email {
    padding-left: 20px;
}
/* form section */
.form-box {
    margin-top: 357px;
    
    
}
.form-row {
    display: flex;
    flex-direction: column;
    width: 463px;
    height: 60px;
    color: #FFFFFF;
    font-family: 'Helvetica Neue';
    margin-bottom: 40px;
    
}
#name {
    background-color: #0A22F4;
    border-bottom: 1px solid #FFFFFF;
    border-top: none;
    border-left: none ;
    border-right: none;
    padding-top: 41px;
}
#email {
    background-color: #0A22F4;
    border-bottom: 1px solid #FFFFFF;
    border-top: none;
    border-left: none ;
    border-right: none;
    padding-top: 41px;
}
#number {
    background-color: #0A22F4;
    border-bottom: 1px solid #FFFFFF;
    border-top: none;
    border-left: none ;
    border-right: none;
    border-bottom: 1px solid #FFFFFF;
    padding-top: 41px;
}
#notification {
    background-color: #0A22F4;
    border-bottom: 1px solid #FFFFFF;
    border-top: none;
    border-left: none ;
    border-right: none;
}
.button-box {
    display: flex;
    justify-content: flex-end;
    margin-top: 145px;
}
.button-box button {
    background-color: #FFFFFF;
    border-radius: 28px;
    width: 151px;
    height: 55px;
    border-color: #0A22F4;
    font-size: 16px;
    font-family: 'Helvetica Neue';
}

/* bottom footer */
.bottom-footer {
    display: flex;
    justify-content: space-between;
    height: 80px;
    margin: 105px auto 0 auto;
    color: #FFFFFF;
    align-items: center;
    border-top: solid #426cf8;

}
.bottom-footer-left {
    margin-left: 88px;
}
.bottom-footer-right {
    display: flex;
    align-items: center;
    margin-right: 85px;
}
.bottom-footer-right .right-text {
    margin-right: 15px;
}
.bottom-footer-right .heart-img {
    margin-right: 10px;
}
.bottom-footer-right .heart-text {
    margin-right: 30px;
}
@media (max-width: 768px) {
    .header {
        width: 100%;
        border-radius:0% 0% 20% 20%;
    }
    .navigation {
        display: none;
    }
    .pic-title {
        max-width: 334px;
        width: 100%;
    }
}
